@import "~bootstrap/scss/bootstrap";

.stopwatch {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    font-size: 36px;
}

.table {
    border: 1px solid #eaeaea;
    border-radius: 10px;

    h3 {
        font-size: 24px;
        border-bottom: 1px solid #eaeaea;
        padding: 15px 0;
    }

    small {
        font-size: 16px;
        columns: rgb(181, 179, 179);
    }

    p {
        background-color: #dc3545;
        color: #fff;
        margin-top: 1rem;
        padding: 10px;
    }
}